<%=render 'layouts/admin'%>

<div class="col-xs-12 col-sm-6 col-md-8">
	<br>
	<h2>Ver estado</h2> 
	<p>
		<strong>Nombre:</strong>
		<%= @state.name%>
	</p>
	<p>
		<%= link_to 'Atrás', states_path, {:class=>"btn btn-link"} %> | <%= link_to 'Editar', edit_state_path(@state), {:class=>"btn btn-link"} %>
	</p>
</div>
