<%= search_form_for @search do |f| %>	
	<div class="form-group">		
		<%= f.text_field :name_cont, autofocus: true, placeholder: 'Ingrese país' %>
		<%= f.submit 'Buscar', class: "btn btn-link"  %>
	</div>
<% end %>