<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<br>
		<h2>Editar país</h2> 
			<br>
		<%= render 'form'%>

		<div class="col-sm-offset-2 col-sm-10">
			<%= link_to 'Atrás', countries_path,  {:class=>"btn btn-link"} %> 
		</div>
	</div>
</div>