/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.navbar {
    margin-bottom: 0;
    background-color: white;
    z-index: 9999;
    font-size: 10px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border : {
		bottom: 6px solid #ee14d3;
		radius: 0;
    }
}

.table th {
    text-align: center;
}

.navbar {
    li a, .navbar-brand {
        color: black !important;
    }
}

.navbar-nav li {
    a:hover, &.active a {
        color: #f4511e !important;
        background-color: #fff !important;
    }
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.jumbotron {
    background-color: #0AA9BC;
    color: #FFFFFF;
    margin: {
    	left: -33px;
    	right: -33px;
    }
}

/*final space in table for new item */

$new_item_right_space: 100px;
#right_new_item{
	padding-top: $new_item_right_space;
}