<br>
<p>Hola <%= current_user.email %></p>

<div class="row">
  	<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Resumen</a></li>
    <li><a href="#">Donaciones realizadas</a></li>
    <li><a href="#">Donaciones recibidas</a></li>
    <li><a href="#">Donaciones en proceso</a></li>
  </ul>
</div>
   <div class="col-md-9"></div>
</div>